html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Lato';
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
.content {
    background-color: #ecf0f1;
    border-top: solid 1px #e0e4e5;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.75rem;
  line-height: 2.75rem;
  background-color: #f5f5f5;
}
.bg-light {
  background-color: #f5f5f5!important;
  border-top: solid #dc3545;
  border-bottom: solid 1px #ddd;
}
.bg-light .navbar-nav .nav-link {
  color: rgba(18, 17, 17, 0.63);
}
.bg-light .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #111;
}
.fa-btn {
  margin-right: 0.375rem;
}
.navbar-brand {
  padding-top: 0rem !important;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group-justified .btn, .btn-group-justified .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}
.btn-group-justified .btn .btn, .btn-group-justified .btn-group .btn {
    width: 100%;
}
.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
    left: auto;
}




/* @import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-image: url("/splash.png");
  background-color: #220052;
}

* {
  margin: 0;
  padding: 0;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 536px;
  margin: auto;
  position: relative;
}

section:before {
  content: "";
  position: absolute;
  background: url("/pyramid.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 402px;
  z-index: -1;
}

.logo {
  background: url("/logo.svg") no-repeat;
  width: 36px;
  height: 33px;
  background-size: 100%;
  margin-bottom: 35px;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}

.title {
  background: url("/title.svg") no-repeat;
  width: 219px;
  height: 36px;
  background-size: 100%;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.2s forwards;
}

.subtitle {
  margin-top: 25px;
  color: #BDB3CB;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.5;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.2%;
  }
  100% {
    opacity: 1;
    transform: none;
  }
} */
